.container { font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; display: flex; flex-direction: column;
    align-items: center;
   margin-top: 5px;}
form { margin-top: 5px;}
button { width:180px;
   padding:15px; 
   color: white; 
  background-color: rgb(255, 0, 0); 
  border:0px;
  border-radius:30px; }

  a {text-decoration: none;}

  .button1 a:visited { color: #000000;}
.button1 a:link { color: rgb(0, 0, 0);}

/* fix it
  .symbol {object-position: top left ;}*/